# Pandas

In [1]:
# suppress future warning
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Load Data

import pandas as pd
# Contoh csv
df = pd.read_csv('dataset/titanic.csv')

# Contoh excel
df2 = pd.read_excel('dataset/titanic.xlsx')

# Contoh sqlite
import sqlite3
conn = sqlite3.connect('dataset/movie.sqlite')
df3 = pd.read_sql_query("SELECT * FROM genre", conn)

In [2]:
# Show Data

# 5 baris pertama
df.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [3]:
# 5 baris terakhir
df.tail()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

In [4]:
# 10 baris pertama
df.head(10)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
5,6,28.0,8.4583,0,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
6,7,54.0,51.8625,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
7,8,2.0,21.0750,0,3,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
8,9,27.0,11.1333,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
9,10,14.0,30.0708,1,1,0,0,0,0,0,...,0,0,0,2,0,0,0.0,0,0,1

In [5]:
# Melihat tipe data
df.dtypes

Passengerid      int64
Age            float64
Fare           float64
Sex              int64
sibsp            int64
zero             int64
zero.1           int64
zero.2           int64
zero.3           int64
zero.4           int64
zero.5           int64
zero.6           int64
Parch            int64
zero.7           int64
zero.8           int64
zero.9           int64
zero.10          int64
zero.11          int64
zero.12          int64
zero.13          int64
zero.14          int64
Pclass           int64
zero.15          int64
zero.16          int64
Embarked       float64
zero.17          int64
zero.18          int64
2urvived         int64
dtype: object

In [6]:
# Mengubah tipe data menjadi int
df['Age'] = df['Age'].astype('int')
df.dtypes

Passengerid      int64
Age              int32
Fare           float64
Sex              int64
sibsp            int64
zero             int64
zero.1           int64
zero.2           int64
zero.3           int64
zero.4           int64
zero.5           int64
zero.6           int64
Parch            int64
zero.7           int64
zero.8           int64
zero.9           int64
zero.10          int64
zero.11          int64
zero.12          int64
zero.13          int64
zero.14          int64
Pclass           int64
zero.15          int64
zero.16          int64
Embarked       float64
zero.17          int64
zero.18          int64
2urvived         int64
dtype: object

In [7]:
# Deskripsi statistik data
df.describe()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.0,1309.0,1309.0,1309.0,1309.0,...,1309.0,1309.0,1309.0,1309.000000,1309.0,1309.0,1307.000000,1309.0,1309.0,1309.000000
mean,655.000000,29.484339,33.281086,0.355997,0.498854,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.294882,0.0,0.0,1.492731,0.0,0.0,0.261268
std,378.020061,12.916721,51.741500,0.478997,1.041658,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.837836,0.0,0.0,0.814626,0.0,0.0,0.439494
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000
25%,328.000000,22.000000,7.895800,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.000000,0.0,0.0,1.000000,0.0,0.0,0.000000
50%,655.000000,28.000000,14.454200,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,0.000000
75%,982.000000,35.000000,31.275000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000
max,1309.000000,80.000000,512.329200,1.000000,8.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000

In [8]:
# Deskripsi statistik data termasuk kolom non-numerik
df.describe(include='all')

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.0,1309.0,1309.0,1309.0,1309.0,...,1309.0,1309.0,1309.0,1309.000000,1309.0,1309.0,1307.000000,1309.0,1309.0,1309.000000
mean,655.000000,29.484339,33.281086,0.355997,0.498854,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.294882,0.0,0.0,1.492731,0.0,0.0,0.261268
std,378.020061,12.916721,51.741500,0.478997,1.041658,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.837836,0.0,0.0,0.814626,0.0,0.0,0.439494
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000
25%,328.000000,22.000000,7.895800,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.000000,0.0,0.0,1.000000,0.0,0.0,0.000000
50%,655.000000,28.000000,14.454200,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,0.000000
75%,982.000000,35.000000,31.275000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000
max,1309.000000,80.000000,512.329200,1.000000,8.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000


## Fungsi statistik dalam Pandas
- count : Jumlah observasi non-NULL
- sum : Jumlah
- mean : Rata-rata
- mad : Deviasi absolut rata-rata
- median : Nilai tengah
- min : Nilai minimum
- max : Nilai maksimum
- mode : Modus (nilai yang paling sering muncul)
- abs : Nilai absolut (nilai mutlak)
- prod : Hasil kali dari nilai-nilai
- quantile : Kuantil sampel (nilai pada persentil), kuartil pertama = quantile(0.25)
- std : Standar deviasi
- var : Varians
- sem : Standar error mean (standar error dari rata-rata)
- skew : Skewness (kecondongan distribusi data)
- kurt : Kurtosis (tingkat “tumpul” atau “tajam” distribusi data)
- cumsum : Akumulasi jumlah
- cumprod : Akumulasi hasil kali
- cummax : Nilai maksimum akumulasi
- cummin : Nilai minimum akumulasi

In [9]:
# Penggunaan unique => untuk mengetahui nilai unik dari suatu kolom
df["Age"].unique()

array([22, 38, 26, 35, 28, 54,  2, 27, 14,  4, 58, 20, 39, 55, 31, 34, 15,
        8, 19, 40, 66, 42, 21, 18,  3,  7, 49, 29, 65,  5, 11, 45, 17, 32,
       16, 25,  0, 30, 33, 23, 24, 46, 59, 71, 37, 47, 70, 12,  9, 36, 51,
       44,  1, 61, 56, 50, 62, 41, 52, 63, 43, 60, 10, 64, 13, 48, 53, 57,
       80,  6, 74, 67, 76])

In [10]:

# Penggunaan value_counts => untuk menghitung berapa kali suatu nilai muncul dalam suatu kolom
df["Age"].value_counts()

Age
28    298
24     48
22     44
30     42
18     42
     ...
66      1
80      1
74      1
67      1
76      1
Name: count, Length: 73, dtype: int64

In [11]:
# groupby() => untuk melakukan grouping berdasarkan kolom tertentu

# Penggunaan groupby dengan fungsi mean 
df.groupby("Age")["Sex"].mean()

Age
0     0.333333
1     0.500000
2     0.583333
3     0.428571
4     0.500000
        ...
70    0.000000
71    0.000000
74    0.000000
76    1.000000
80    0.000000
Name: Sex, Length: 73, dtype: float64

In [12]:
# Penggunaan groupby dengan fungsi mean 
df.groupby("Age")["Sex"].mean()

Age
0     0.333333
1     0.500000
2     0.583333
3     0.428571
4     0.500000
        ...
70    0.000000
71    0.000000
74    0.000000
76    1.000000
80    0.000000
Name: Sex, Length: 73, dtype: float64

In [13]:
# menghitung statistik deskriptif dari setiap kelompok data
df.groupby("Age")["Sex"].describe()

     count      mean       std  min  25%  50%  75%  max
Age
0     12.0  0.333333  0.492366  0.0  0.0  0.0  1.0  1.0
1     10.0  0.500000  0.527046  0.0  0.0  0.5  1.0  1.0
2     12.0  0.583333  0.514929  0.0  0.0  1.0  1.0  1.0
3      7.0  0.428571  0.534522  0.0  0.0  0.0  1.0  1.0
4     10.0  0.500000  0.527046  0.0  0.0  0.5  1.0  1.0
..     ...       ...       ...  ...  ...  ...  ...  ...
70     3.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
71     2.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
74     1.0  0.000000       NaN  0.0  0.0  0.0  0.0  0.0
76     1.0  1.000000       NaN  1.0  1.0  1.0  1.0  1.0
80     1.0  0.000000       NaN  0.0  0.0  0.0  0.0  0.0

[73 rows x 8 columns]

In [14]:
# agregasi kustom dengan fungsi agg
df.groupby("Age")["Sex"].agg([sum, min, max])

     sum  min  max
Age
0      4    0    1
1      5    0    1
2      7    0    1
3      3    0    1
4      5    0    1
..   ...  ...  ...
70     0    0    0
71     0    0    0
74     0    0    0
76     1    1    1
80     0    0    0

[73 rows x 3 columns]

In [15]:
#Menggunakan operasi agregasi kustom (menghitung rasio nilai maksimum dan minimum dalam setiap kelompok
df.groupby("Age")["Fare"].agg(lambda x: x.max() / x.min())

C:\Users\wilda\AppData\Local\Temp\ipykernel_17468\4069212776.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  df.groupby("Age")["Fare"].agg(lambda x: x.max() / x.min())

Age
0     17.794451
1      4.212587
2     14.485066
3      3.018454
4      7.352564
        ...
70     9.161290
71     1.428519
74     1.000000
76     1.000000
80     1.000000
Name: Fare, Length: 73, dtype: float64

In [16]:
# Menghitung korelasi
df.corr()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
Passengerid,1.000000,0.025592,0.031128,-0.013406,-0.055224,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.038354,NaN,NaN,-0.051518,NaN,NaN,-0.331493
Age,0.025592,1.000000,0.178272,-0.053098,-0.189857,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.378088,NaN,NaN,-0.064715,NaN,NaN,-0.055708
Fare,0.031128,0.178272,1.000000,0.185681,0.160349,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.558683,NaN,NaN,-0.239212,NaN,NaN,0.173786
Sex,-0.013406,-0.053098,0.185681,1.000000,0.109609,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.124617,NaN,NaN,-0.099408,NaN,NaN,0.404020
sibsp,-0.055224,-0.189857,0.160349,0.109609,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.060832,NaN,NaN,0.066055,NaN,NaN,-0.014375
zero,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Parch,0.008942,-0.126104,0.221635,0.213125,0.373587,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.018322,NaN,NaN,0.045216,NaN,NaN,0.054908
zero.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pclass,-0.038354,-0.378088,-0.558683,-0.124617,0.060832,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.000000,NaN,NaN,0.187349,NaN,NaN,-0.244686
zero.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Embarked,-0.051518,-0.064715,-0.239212,-0.099408,0.066055,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.187349,NaN,NaN,1.000000,NaN,NaN,-0.093225
zero.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2urvived,-0.331493,-0.055708,0.173786,0.404020,-0.014375,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.244686,NaN,NaN,-0.093225,NaN,NaN,1.000000

In [17]:

# Terdapat 3 pilihan metode perhitungan korelasi, yaitu:
# pearson (default), kendall, dan spearman
df.corr(method="kendall")

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
Passengerid,1.000000,0.010770,-0.002472,-0.010950,-0.025370,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.031129,NaN,NaN,-0.040503,NaN,NaN,-0.270766
Age,0.010770,1.000000,0.119091,-0.041406,-0.079597,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.275902,NaN,NaN,-0.047017,NaN,NaN,-0.023311
Fare,-0.002472,0.119091,1.000000,0.198700,0.356856,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.591258,NaN,NaN,-0.046904,NaN,NaN,0.198870
Sex,-0.010950,-0.041406,0.198700,1.000000,0.175597,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.118514,NaN,NaN,-0.105819,NaN,NaN,0.404020
sibsp,-0.025370,-0.079597,0.356856,0.175597,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.061628,NaN,NaN,0.011620,NaN,NaN,0.066855
zero,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Parch,-0.005095,-0.147657,0.322813,0.237251,0.415068,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.026480,NaN,NaN,0.025567,NaN,NaN,0.107491
zero.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pclass,-0.031129,-0.275902,-0.591258,-0.118514,-0.061628,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.000000,NaN,NaN,0.103832,NaN,NaN,-0.233320
zero.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
zero.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
Embarked,-0.040503,-0.047017,-0.046904,-0.105819,0.011620,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.103832,NaN,NaN,1.000000,NaN,NaN,-0.084858
zero.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
zero.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2urvived,-0.270766,-0.023311,0.198870,0.404020,0.066855,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.233320,NaN,NaN,-0.084858,NaN,NaN,1.000000